<h2>Welcome to OMZETIN</h2>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/">HOME</a></li>
  <li role="presentation"><a href="/profile">PROFILE</a></li>
  <li role="presentation"><a href="/signup">SIGNUP</a></li>
  <li role="presentation"><a href="/login">LOGIN</a></li>
</ul>
<hr>
