<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <% include ./partials/header %>
      <div class="jumbotron">
        <center>
          <h1>OMZETIN</h1>
          <p> - PairProject - <p>
        </center>
      </div>
  </div>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>
