<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">HOME</a></li>
    </ul>
    <center>
      <div class="jumbotron">
        <a href="/customer/signup" class="btn btn-info btn-lg">Customer</a>
      </div>
      <div class="jumbotron">
        <a href="/provider/signup" class="btn btn-info btn-lg">Provider</a>
      </div>
    </center>
  </div>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>
