<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">HOME</a></li>
    </ul>
    <div class="jumbotron">
        <h1>Customer</h1>
    </div>
    <div class="jumbotron">
        <h1>Provider</h1>
    </div>
  </div>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>
