<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Customer</title>
    </head>
    <body>
        <h1>Customer Login</h1>
        <form action="/login/customer" method="post">
            Name: <br>
            <input type="text" name="name" value=""><br>
            Email: <br>
            <input type="text" name="email" value=""><br>
            Password: <br>
            <input type="password" name="password" value=""><br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>