<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <h2>Welcome to OMZETIN</h2>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">HOME</a></li>
    <li role="presentation"><a href="/customer/logout">LOGOUT</a></li>
  </ul>
  <hr>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
